.NotaModal {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.NotaModal-content {
  position: relative;
  padding: 100px;
  background-color: #ecd5a4;
  border: 1px solid #000000;
  max-width: 450px;
  width: 100%;
  max-height: 70vh;
  overflow-y: auto;
}

.NotaModal-content h2 {
  margin-bottom: 40px;
}

.NotaClose {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
