.carrinho-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(255, 255, 255);
  padding: 100px;
  width: 400px;
  max-height: 70vh;
  overflow-y: auto;
  box-shadow: 0px 0px 10px #000000;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  background: none;
  border: none;
  font-size: 1.5rem;
  color: #000000;
}

h2 {
  text-align: center;
  margin-bottom: 10px;
}

.carrinho-content {
  padding: 20px;
}

.carrinho-list {
  list-style-type: none;
  padding: 0;
}

.carrinho-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
  border-bottom: 1px solid #000000; 
  padding-bottom: 15px;
}

.carrinho-item span {
  margin-bottom: 5px;
}

.remover-btn {
  margin-top: -20px;
  background-color: #ff2600; 
  color: #fff;
  padding: 4px 5px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  transition: background-color 0.3s ease;
}

.remover-btn:hover {
  background-color: #d63431; 
}

.linha {
  border-bottom: 1px solid #000000;
  margin-bottom: 5px;
}

button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 20px;
}

button:hover {
  background-color: #45a049;
}

.opcoes-pagamento {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.opcoes-pagamento label {
  display: flex;
  cursor: pointer;
  margin-right: 1px;
}

.opcoes-pagamento label input {
  margin-right: 10px;
}